{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/ol.css' %}" type="text/css">
<style>
  .map {
    height: 300px;
    width: 100%;
  }
</style>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
<div id="map" class="map">
  <div id="popup"></div>
</div>

<script src="{% static 'js/ol.js' %}"></script>
<script src="{% static 'js/home_openlayers.js' %}"></script>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Network</th>
      <th>Station code</th>
      <th>Site name</th>
      <th>Start date</th>
    </tr>
  </thead>
  <tbody>
    {% for station in stations %}
    <tr>
      <td>
        {{ station.fdsnStation_fdsnNetwork.code }}
        <small class="text-muted d-block">
          {{ station.fdsnStation_fdsnNetwork.description }}
        </small>
      </td>
      <td>
        <a href ="{% url 'station_details' station.fdsnStation_fdsnNetwork.pk station.pk %}">{{ station.code }}</a>
        <small class="text-muted d-block">
          Latitude: {{ station.latitude }},
          Longitude: {{ station.longitude }}
        </small>
      </td>
      <td>
          {{ station.site_name }}
      </td>
      <td>
          {{ station.start_date }}
      </td>
    </tr>
    <script type="text/javascript">
      // Use "safe" template tag to prevent location string encoding
      var latitude = parseFloat("{{ station.latitude }}");
      var longitude = parseFloat("{{ station.longitude }}");
      var siteCode = "{{ station.code }}"

      // Check if values are valid and add a marker to the map
      if (!isNaN(latitude) && !isNaN(longitude)) {
        var point = new ol.Feature({
          geometry: new ol.geom.Point(ol.proj.fromLonLat([longitude, latitude])),
          name: `Site code: ${siteCode}, latitude: ${latitude}, longitude: ${longitude}`
        });

        point.setStyle(new ol.style.Style({
          image: new ol.style.Icon(/** @type {olx.style.IconOptions} */({
            anchor: [0.5, 46],
            anchorXUnits: 'fraction',
            anchorYUnits: 'pixels',
            src: '../static/img/markers/marker-blue.png',
          }))
        }));
        vectorSource.addFeature(point);
      }
    </script>
    {% endfor %}
  </tbody>
</table>

{% include 'includes/pagination.html' %}
{% endblock %}