{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/openlayers/ol.css' %}" type="text/css">
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
{% if stations.count > 0 %}
<div id="map" class="map">
  <div id="popup"></div>
</div>
{% endif %}

<script src="{% static 'js/openlayers/ol.js' %}"></script>
<script src="{% static 'js/openlayers/olStationbook.js' %}"></script>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Node</th>
      <th>Network</th>
      <th>Station code</th>
      <th>Site name</th>
      <th>Start date</th>
    </tr>
  </thead>
  <tbody>
    {% for station in stations %}
    <tr>
      <td>
          <a href="{% url 'node_details' station.fdsn_network.fdsn_node.pk %}">{{ station.fdsn_network.fdsn_node }}</a>
      </td>
      <td>
        <a href="{% url 'network_details' station.fdsn_network.pk %}">{{ station.fdsn_network.get_code_year }}</a>
        <small class="text-muted d-block">
          {{ station.fdsn_network.description }}
        </small>
      </td>
      <td>
        <a href ="{% url 'station_details' station.fdsn_network.pk station.pk %}">{{ station.code }}</a>
        <small class="text-muted d-block">
          Latitude: {{ station.latitude }},
          Longitude: {{ station.longitude }}
        </small>
      </td>
      <td>
          {{ station.site_name }}
      </td>
      <td>
          {{ station.get_start_date }}
      </td>
    </tr>
    <script type="text/javascript">
    var latitude=parseFloat("{{ station.latitude }}"),longitude=parseFloat("{{ station.longitude }}"),siteCode="{{ station.code }}",markerPath="{% static 'img/markers/marker-red.png' %}";if(!isNaN(latitude)&&!isNaN(longitude)){var point=new ol.Feature({geometry:new ol.geom.Point(ol.proj.fromLonLat([longitude,latitude])),name:`<b>Site code: </b>${siteCode}\n<br><b>Latitude: </b>${latitude}\n<br><b>Longitude: </b>${longitude}\n<br><a href="{% url 'station_details' station.fdsn_network.pk station.pk %}">Station details</a>`});point.setStyle(new ol.style.Style({image:new ol.style.Icon({anchor:[.5,46],anchorXUnits:"fraction",anchorYUnits:"pixels",src:markerPath})})),vectorSource.addFeature(point)}
    </script>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
var latitude=parseFloat("{{ stations.0.latitude }}"),longitude=parseFloat("{{ stations.0.longitude }}");map.getView().setCenter(ol.proj.transform([longitude,latitude],"EPSG:4326","EPSG:3857")),map.getView().setZoom(8);
</script>
{% endblock %}