{% extends 'base.html' %} {% load static %} {% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/datatable/dataTables.bootstrap4.min.css' %}"> {% endblock %} {% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'home' %}">Home</a>
</li>
<li class="breadcrumb-item active">Networks</li>
{% endblock %} {% block content %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#networks_table').DataTable();
    });
</script>

<table id="networks_table" class="table" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Network</th>
            <th>Start Date</th>
            <th>Restricted Status</th>
        </tr>
    </thead>
    <tbody>
        {% for e in data %}
        <tr>
            <td>
                <a href="{% url 'network_details' e.0 e.1 %}">{{ e.0 }} {{ e.1 }}</a>
            </td>
            <td>
                {{ e.1 }}
            </td>
            <td>
                {{ e.2 }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% block javascript %}
<script src="{% static 'js/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatable/dataTables.bootstrap4.min.js' %}"></script>
{% endblock %} {% endblock %}