{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active">{{ network.code }}</li>
{% endblock %}

{% block content %}
<h1>Network details</h1>
<p><b>Network Code:</b> {{ network.code }}</p>
<p><b>Network Description:</b> {{ network.description }}</p>
<p><b>Network Start Date:</b> {{ network.start_date }}</p>
<p><b>Network Restricted Status:</b> {{ network.restricted_status }}</p>
<h1>List of stations</h1>
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Station code</th>
            <th>Site name</th>
            <th>Start date</th>
        </tr>
    </thead>
    <tbody>
        {% for station in network.fdsn_stations.all %}
        <tr>
            <td>
                <a href="{% url 'station_details' station.fdsnStation_fdsnNetwork.pk station.pk %}">{{ station.code }}</a>
                <small class="text-muted d-block">
                    Latitude: {{ station.latitude }}, Longitude: {{ station.longitude }}
                </small>
            </td>
            <td>
                {{ station.site_name }}
            </td>
            <td>
                {{ station.start_date }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}