{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
{% endblock %} 

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'home' %}">Home</a>
</li>
<li class="breadcrumb-item active">Nodes</li>
{% endblock %}

{% block content %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#nodes_table').DataTable({
            "paging": false,
            "filter": false,
            "info": false
        });
    });
</script>
<table id="nodes_table" class="table" cellspacing="0" width="100%">
    <thead class="thead-inverse">
        <tr>
            <th>Code</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for node in data %}
        <tr>
            <td>
                <a href="{% url 'node_details' node.pk %}">{{ node.code }}</a>
            </td>
            <td>
                {{ node.description }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% block javascript %}
<script src="{% static 'js/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatable/dataTables.bootstrap4.min.js' %}"></script>
{% endblock %}
{% endblock %}