{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
{% endblock %} 

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'home' %}">Home</a>
</li>
<li class="breadcrumb-item active">Nodes</li>
{% endblock %}

{% block content %}
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        {% for node in data %}
        <tr>
            <td>
                <a href="{% url 'node_details' node.pk %}">{{ node.code }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}