{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active">Recent changes</li>
{% endblock %}

{% block content %}
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Info</th>
            <th>Network / Station</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for access in data %}
        <tr>
            <td>Updated {{ access.updated_at|naturaltime }} by {{ access.updated_by }}</td>
            <td>
                <a href="{% url 'network_details' access.extAccessData_fdsnStation.fdsnStation_fdsnNetwork.code %}">
                    {{ access.extAccessData_fdsnStation.fdsnStation_fdsnNetwork.code }}
                </a>
                /
                <a href="{% url 'station_details' access.extAccessData_fdsnStation.fdsnStation_fdsnNetwork.code access.extAccessData_fdsnStation.code %}"
                    >{{ access.extAccessData_fdsnStation.code }} ({{ access.extAccessData_fdsnStation.site_name }})
                </a>
                <small class="text-muted d-block">
                    {{ access.extAccessData_fdsnStation.fdsnStation_fdsnNetwork.description }}
                </small>
            </td>
            <td>{{ access.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'includes/pagination.html' %}
{% endblock %}