{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active">Search</li>
{% endblock %}

{% block content %}
<p>Search phrase: {{ search_phrase }}</p>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Network</th>
      <th>Station code</th>
      <th>Site name</th>
      <th>Start date</th>
    </tr>
  </thead>
  <tbody>
    {% for station in data %}
    <tr>
      <td>
        <a href="{% url 'network_details' station.fdsn_network.code %}">{{ station.fdsn_network.code }}</a>
        <small class="text-muted d-block">
          {{ station.fdsn_network.description }}
        </small>
      </td>
      <td>
        <a href ="{% url 'station_details' station.fdsn_network.code station.code %}">{{ station.code }}</a>
        <small class="text-muted d-block">
          Latitude: {{ station.latitude }},
          Longitude: {{ station.longitude }}
        </small>
      </td>
      <td>
          {{ station.site_name }}
      </td>
      <td>
          {{ station.start_date }}
      </td>
    </tr>
    <script type="text/javascript">
      // Use "safe" template tag to prevent location string encoding
      var latitude = parseFloat("{{ station.latitude }}");
      var longitude = parseFloat("{{ station.longitude }}");
      var siteCode = "{{ station.code }}"
      var markerPath = "{% static 'img/markers/marker-red.png' %}"

      // Check if values are valid and add a marker to the map
      if (!isNaN(latitude) && !isNaN(longitude)) {
        var point = new ol.Feature({
          geometry: new ol.geom.Point(ol.proj.fromLonLat([longitude, latitude])),
          name: `Site code: ${siteCode}, latitude: ${latitude}, longitude: ${longitude}`
        });

        point.setStyle(new ol.style.Style({
          image: new ol.style.Icon(/** @type {olx.style.IconOptions} */({
            anchor: [0.5, 46],
            anchorXUnits: 'fraction',
            anchorYUnits: 'pixels',
            src: markerPath,
          }))
        }));
        vectorSource.addFeature(point);
      }
    </script>
    {% endfor %}
  </tbody>
</table>
{% endblock %}