{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/datatable/dataTables.bootstrap4.min.css' %}">
{% endblock %} 

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active">Search</li>
{% endblock %}

{% block content %}
<script type="text/javascript">
  $(document).ready(function() {
      $('#search_table').DataTable({
          stateSave: true
      });
  });
</script>

<p>Search phrase: {{ search_phrase }}</p>
<table id="search_table" class="table" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Node</th>
      <th>Network</th>
      <th>Station code</th>
      <th>Site name</th>
      <th>Start date</th>
    </tr>
  </thead>
  <tbody>
    {% for station in data %}
    <tr>
      <td>
        <a href="{% url 'node_details' station.fdsn_network.fdsn_node.pk %}">{{ station.fdsn_network.fdsn_node.code }}</a>
      </td>
      <td>
        <a href="{% url 'network_details' station.fdsn_network.pk %}">{{ station.fdsn_network.get_code_year }}</a>
        <small class="text-muted d-block">
          {{ station.fdsn_network.description }}
        </small>
      </td>
      <td>
        <a href ="{% url 'station_details' station.fdsn_network.pk station.pk %}">{{ station.code }}</a>
        <small class="text-muted d-block">
          Latitude: {{ station.latitude }},
          Longitude: {{ station.longitude }}
        </small>
      </td>
      <td>
          {{ station.site_name }}
      </td>
      <td>
          {{ station.get_start_date }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% block javascript %}
<script src="{% static 'js/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatable/dataTables.bootstrap4.min.js' %}"></script>
{% endblock %}
{% endblock %}