{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/baguettebox/baguetteBox.min.css' %}" type="text/css">
{% endblock %} 

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'networks' %}">Networks</a></li>
<li class="breadcrumb-item"><a href="{% url 'network_details' station.fdsn_network.code station.fdsn_network.start_date.year %}">{{ station.fdsn_network.get_code_year }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'station_details' station.fdsn_network.pk station.pk %}">{{ station.code }}</a></li>
<li class="breadcrumb-item active">Gallery</li>
{% endblock %}

{% block content %}
{% if user.is_authenticated and user_is_network_editor %}
<div class="btn-group mt-2 float-right" role="group">
    <div class="btn-group" role="group">
        <a class="btn btn-primary" href="{% url 'station_photo_upload' station.fdsn_network.pk station.pk %}">Upload photos</a>
    </div>
</div>
{% endif %}

<div class="gallery">
    {% for img in station.photos.all %}
    <p><b>Description: </b>{{ img.description }}</p>
    <a href="{{ img.photo.url }}" data-caption="{{ img.description }}">
        <img src="{{ img.photo.url }}" style="max-width: 25%; height: auto;">
    </a>
    <small class="text-muted d-block">
        Uploaded on {{ img.uploaded_at }}
    </small>
    {% if user.is_authenticated and user_is_network_editor %}
    <p>
    <a href="{% url 'station_photo_edit' station.fdsn_network.pk station.pk img.pk %}">Edit</a>
    /
    <a href="{% url 'station_photo_remove' station.fdsn_network.pk station.pk img.pk %}">Remove</a>
    </p>
    {% endif %}
    <hr>
    {% endfor %}
</div>

<script>
    window.onload = function () {
        baguetteBox.run('.gallery');
        if (typeof oldIE === 'undefined' && Object.keys) {
            hljs.initHighlighting();
        }
    };
</script>

{% block javascript %}
<script src="{% static 'js/baguettebox/baguetteBox.min.js' %}"></script>
{% endblock %}
{% endblock %}