{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
{% endblock %} 

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'node_details' station.fdsn_network.fdsn_node.pk %}">{{ station.fdsn_network.fdsn_node.code }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'networks' %}">Networks</a></li>
<li class="breadcrumb-item"><a href="{% url 'network_details' station.fdsn_network.pk %}">{{ station.fdsn_network.get_code_year }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'station_details' station.fdsn_network.pk station.pk %}">{{ station.code }}</a></li>
<li class="breadcrumb-item active">Remove photo</li>
{% endblock %}

{% block content %}
<img src="{{ img.photo.url }}" class="img-fluid">
<hr>
<form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Remove photo</button>
    <a href="{% url 'station_gallery' station.fdsn_network.pk station.pk %}" class="btn btn-outline-secondary" role="button">Abort</a>
  </form>
{% endblock %}