{% extends 'base.html' %}

{% load form_tags widget_tweaks %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'networks' %}">Networks</a></li>
<li class="breadcrumb-item"><a href="{% url 'network_details' station.fdsn_network.code station.fdsn_network.start_date.year %}">{{ station.fdsn_network.get_code_year }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'station_details' station.fdsn_network.code station.fdsn_network.get_start_year station.code station.get_start_year %}">{{ station.code }}</a></li>
<li class="breadcrumb-item active">Remove borehole layer</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    <p><b>Remove borehole layer data?</b></p>
    <p>Description: {{ layer.description }}</p>
    <p>Depth bottom: {{ layer.depth_bottom }}</p>
    <p>Depth tol: {{ layer.depth_top }}</p>
    <button type="submit" class="btn btn-danger">Remove borehole layer</button>
    <a href="{% url 'station_details' station.fdsn_network.code station.fdsn_network.get_start_year station.code station.get_start_year %}" class="btn btn-outline-secondary" role="button">Abort</a>
  </form>
{% endblock %}