{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'network_details' data.station.fdsnStation_fdsnNetwork.code %}">{{ data.station.fdsnStation_fdsnNetwork.code }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'station_details' data.station.fdsnStation_fdsnNetwork.code data.station.code %}">{{ data.station.code }}</a></li>
<li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block content %}
<form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'station_details' data.station.fdsnStation_fdsnNetwork.code data.station.code %}" class="btn btn-outline-secondary" role="button">Cancel</a>
</form>
{% endblock %}