<h1>Morphology class</h1>
<p>Based on the Italian Building Code</p>
<ul>
    <li>T1 = Flat surface; isolated slopes and cliffs with average slope angle i < 15°&#10;</li>
    <li>T2 = Slopes with i > 15°&#10;</li>
    <li>T3 = Ridges with crest width significantly less than the base width and 15° < i < 30°&#10;</li>
    <li>T4 = Ridges with crest width significantly less than the base width and i > 30°</li>
</ul> 
<h1>Ground type EC8</h1>
<p>The types are: A, B, C, D, E, S<sub>1</sub>, S<sub>2</sub></p>
<p>More information can be found <a href="http://eurocodes.jrc.ec.europa.eu/doc/WS2008/EN1998_1_Carvalho.pdf#page=13&zoom=auto,46,-177" target="_blank">here</a>.</p>
<h1>Station sensor type</h1>
<p>Types: VBB (Very Broad Band), BB (Broad Band), SP (Short Period), SM (Strong Motion) and OBS (Ocean Bottom Sensor)</p>