{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/openlayers/ol.css' %}" type="text/css">
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'node_details' station.fdsn_network.fdsn_node.pk %}">{{ station.fdsn_network.fdsn_node.code }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'networks' %}">Networks</a></li>
<li class="breadcrumb-item"><a href="{% url 'network_details' station.fdsn_network.pk %}">{{ station.fdsn_network.get_code_year }}</a></li>
<li class="breadcrumb-item active">{{ station.code }}</li>
{% endblock %}

{% block content %}
{% if user.is_authenticated and not user_is_network_editor %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  You are logged in, but not allowed to edit stations in this network.
</div>
{% endif %}

<div id="map" class="map">
    <div id="popup"></div>
</div>
<script src="{% static 'js/openlayers/ol.js' %}"></script>
<script src="{% static 'js/openlayers/olStationbook.js' %}"></script>

<div class="mt-2">
<div class="container mb-2">
    <div class="row">
        <div class="btn-group" role="group">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Media</button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="{% url 'station_gallery' station.fdsn_network.pk station.pk %}">Show station gallery ({{ station.photos.count }})</a>
                    {% if user.is_authenticated and user_is_network_editor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'station_photo_upload' station.fdsn_network.pk station.pk %}">Quick photo upload</a>
                    {% endif %}
                </div>
            </div>

            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">This page</button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#fdsnws_station">Go to FDSNWS-Station Data</a>
                    <a class="dropdown-item" href="#fdsnws_channels">Go to FDSNWS-Station Channels Data</a>
                    <a class="dropdown-item" href="#fdsnws_instrumentation">Go to FDSNWS-Station Instrumentation Data</a>
                    <a class="dropdown-item" href="#basic_data">Go to basic data</a>
                    <a class="dropdown-item" href="#owner_data">Go to owner data</a>
                    <a class="dropdown-item" href="#morphology_data">Go to morphology data</a>
                    <a class="dropdown-item" href="#housing_data">Go to housing data</a>
                    <a class="dropdown-item" href="#borehole_data">Go to borehole data</a>
                </div>
            </div>

            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Data sources</button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a target="_blank" class="dropdown-item" href="{{ fdsn_station_link }}">FDSNWS-Station Channels and Instrumentation</a>
                </div>
            </div>

            <!-- <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Export data</button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item disabled" href="#">Export to PDF</a>
            <a class="dropdown-item disabled" href="#">Export to HTML</a>
            <a class="dropdown-item disabled" href="#">Export to CSV</a>
        </div>
    </div> -->

            {% if user.is_authenticated and user_is_network_editor %}
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Edit data</button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="{% url 'station_edit_basic' station.fdsn_network.pk station.pk %}">Edit basic station data</a>
                    <a class="dropdown-item" href="{% url 'station_edit_owner' station.fdsn_network.pk station.pk %}">Edit owner station data</a>
                    <a class="dropdown-item" href="{% url 'station_edit_morphology' station.fdsn_network.pk station.pk %}">Edit morphology station data</a>
                    <a class="dropdown-item" href="{% url 'station_edit_housing' station.fdsn_network.pk station.pk %}">Edit housing station data</a>
                    <a class="dropdown-item" href="{% url 'station_edit_borehole' station.fdsn_network.pk station.pk %}">Edit borehole station data</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div id="fdsnws_station" class="table-responsive">
<p><h1>FDSNWS-Station Data:</h1></p>
<table class="table table">
    <thead class="thead-inverse">
        <tr>
            <th>Network</th>
            <th>Code</th>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Elevation [m]</th>
            <th>Status</th>
            <th>Start</th>
            <th>End</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ station.fdsn_network.code }}</td>
            <td>{{ station.code }}</td>
            <td>{{ station.site_name }}</td>
            <td>{{ station.latitude }}</td>
            <td>{{ station.longitude }}</td>
            <td>{{ station.elevation }}</td>
            <td>{{ station.restricted_status }}</td>
            <td>{{ station.get_start_date }}</td>
            <td>{{ station.get_end_date }}</td>
            <td>{{ station.get_created_date }}</td>
        </tr>
    </tbody>
</table>
</div>
<a href="#" class="float-right">Top of the page</a>

<div id="fdsnws_channels" class="table-responsive">
<p><h1>FDSNWS-Station Channels Data:</h1></p>
<table class="table table">
    <thead class="thead-inverse">
        <tr>
            <th>Channel</th>
            <th>Start</th>
            <th>Status</th>
            <th>Location</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Elevation</th>
            <th>Depth</th>
            <th>Azimuth</th>
            <th>Dip</th>
            <th>Sample rate</th>
            <th>Storage format</th>
            <th>Clock drift</th>
        </tr>
    </thead>
    <tbody>
        {% for sch in station_channels %}
        <tr>
            <td>{{ sch.code }}</td>
            <td>{{ sch.start_date }}</td>
            <td>{{ sch.restricted_status }}</td>
            <td>{{ sch.location_code }}</td>
            <td>{{ sch.latitude }}</td>
            <td>{{ sch.longitude }}</td>
            <td>{{ sch.elevation }}</td>
            <td>{{ sch.depth }}</td>
            <td>{{ sch.azimuth }}</td>
            <td>{{ sch.dip }}</td>
            <td>{{ sch.sample_rate }}</td>
            <td>{{ sch.storage_format }}</td>
            <td>{{ sch.clock_drift }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<a href="#" class="float-right">Top of the page</a>

<div id="fdsnws_instrumentation" class="table-responsive">
<p><h1>FDSNWS-Station Instrumentation Data:</h1></p>
<table class="table table">
    <thead class="thead-inverse">
        <tr>
            <th>Channel</th>
            <th>Sensor type</th>
            <th>Sensor description</th>
            <th>Sensor model</th>
            <th>Sensor manufacturer</th>
            <th>Datalogger</th>
            <th>Sensitivity value</th>
            <th>Sensitivity frequency</th>
            <th>Input units name</th>
            <th>Output units name</th>
        </tr>
    </thead>
    <tbody>
        {% for sch in station_channels %}
        <tr>
            <td>{{ sch.code }}</td>
            <td>{{ sch.sensor.type }}</td>
            <td>{{ sch.sensor.description }}</td>
            <td>{{ sch.sensor.model }}</td>
            <td>{{ sch.sensor.manufacturer }}</td>
            <td>{{ sch.data_logger.description }}</td>
            <td>{{ sch.response.instrument_sensitivity.value }}</td>
            <td>{{ sch.response.instrument_sensitivity.frequency }}</td>
            <td>{{ sch.response.instrument_sensitivity.input_units.name }}</td>
            <td>{{ sch.response.instrument_sensitivity.output_units.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<a href="#" class="float-right">Top of the page</a>

<div id="basic_data" class="table-responsive">
<p><h1>Basic Data:</h1></p>
<table class="table table">
    <thead class="thead-inverse">
        <tr>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ station.ext_basic_data.get_description_as_markdown }}</td>
        </tr>
    </tbody>
</table>
<table class="table table">
    <thead class="thead-inverse">
        <tr>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ station.ext_basic_data.start }}</td>
            <td>{{ station.ext_basic_data.end }}</td>
        </tr>
    </tbody>
</table>
</div>
<a href="#" class="float-right">Top of the page</a>

<div id="owner_data" class="table-responsive">
<p><h1>Owner Data:</h1></p>
<table class="table table">
    <thead class="thead-inverse">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Department</th>
            <th>Agency</th>
            <th>City</th>
            <th>Street</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ station.ext_owner_data.name_first }}</td>
            <td>{{ station.ext_owner_data.name_last }}</td>
            <td>{{ station.ext_owner_data.department }}</td>
            <td>{{ station.ext_owner_data.agency }}</td>
            <td>{{ station.ext_owner_data.city }}</td>
            <td>{{ station.ext_owner_data.street }}</td>
            <td>{{ station.ext_owner_data.country }}</td>
            <td>{{ station.ext_owner_data.phone }}</td>
            <td>{{ station.ext_owner_data.email }}</td>
        </tr>
    </tbody>
</table>
</div>
<a href="#" class="float-right">Top of the page</a>

<div id="morphology_data" class="table-responsive">
<p><h1>Morphology Data:</h1></p>
<table class="table table">
    <thead class="thead-inverse">
        <tr>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ station.ext_morphology_data.get_description_as_markdown }}</td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Geological Unit</th>
            <th>Morphology Class</th>
            <th>Ground Type EC8</th>
            <th>Groundwater Depth [m]</th>
            <th>Vs 30 [m/s]</th>
            <th>f0 [Hz]</th>
            <th>Amp(f0)</th>
            <th>Basin Flag</th>
            <th>Bedrock Depth [m]</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ station.ext_morphology_data.get_geological_unit_display }}</td>
            <td>{{ station.ext_morphology_data.get_morphology_class_display }}</td>
            <td>{{ station.ext_morphology_data.get_ground_type_ec8_display }}</td>
            <td>{{ station.ext_morphology_data.groundwater_depth }}</td>
            <td>{{ station.ext_morphology_data.vs_30 }}</td>
            <td>{{ station.ext_morphology_data.f0 }}</td>
            <td>{{ station.ext_morphology_data.amp_f0 }}</td>
            <td>{{ station.ext_morphology_data.basin_flag }}</td>
            <td>{{ station.ext_morphology_data.bedrock_depth }}</td>
        </tr>
    </tbody>
</table>
</div>
<a href="#" class="float-right">Top of the page</a>

<div id="housing_data" class="table-responsive">
<p><h1>Housing Data:</h1></p>
<table class="table table">
    <thead class="thead-inverse">
        <tr>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ station.ext_housing_data.get_description_as_markdown }}</td>
        </tr>
    </tbody>
</table>
<table class="table table">
    <thead class="thead-inverse">
        <tr>
            <th>Housing Class</th>
            <th>In Building?</th>
            <th>Number of storeys</th>
            <th>Distance to building</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ station.ext_housing_data.get_housing_class_display }}</td>
            <td>{{ station.ext_housing_data.in_building }}</td>
            <td>{{ station.ext_housing_data.numer_of_storeys }}</td>
            <td>{{ station.ext_housing_data.distance_to_building }}</td>
        </tr>
    </tbody>
</table>
</div>
<a href="#" class="float-right">Top of the page</a>

<div id="borehole_data" class="table-responsive">
<p><h1>Borehole Data:</h1></p>
<table class="table table">
    <thead class="thead-inverse">
        <tr>
            <th>Depth [m]</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ station.ext_borehole_data.depth }}</td>
        </tr>
    </tbody>
</table>

<p><h2>Borehole Layers: {% if user.is_authenticated and user_is_network_editor %}(<a href="{% url 'station_borehole_layer_add' station.fdsn_network.pk station.pk %}">Add</a>){% endif %}</h2></p>
<table class="table table">
    <thead class="thead-inverse">
        <tr>
            <th>Description</th>
            <th>Top depth [m]</th>
            <th>Bottom depth [m]</th>
            
        </tr>
    </thead>
    {% for layer in station.ext_borehole_data.borehole_layers.all %}
    <tbody>
        <tr>
            <td>{{ layer.description }}
                {% if user.is_authenticated and user_is_network_editor %}
                (<a href="{% url 'station_borehole_layer_edit' station.fdsn_network.pk station.pk layer.pk %}">Edit</a> / 
                <a href="{% url 'station_borehole_layer_remove' station.fdsn_network.pk station.pk layer.pk %}">Remove</a>)
                {% endif %}
            </td>
            <td>{{ layer.depth_top }}</td>
            <td>{{ layer.depth_bottom }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
</div>
<a href="#" class="float-right">Top of the page</a>
</div>
</div>

<script type="text/javascript">
var latitude=parseFloat("{{ station.latitude }}"),longitude=parseFloat("{{ station.longitude }}"),siteCode="{{ station.code }}",markerPath="{% static 'img/markers/marker-red.png' %}";if(map.getView().setCenter(ol.proj.transform([longitude,latitude],"EPSG:4326","EPSG:3857")),map.getView().setZoom(10),!isNaN(latitude)&&!isNaN(longitude)){var point=new ol.Feature({geometry:new ol.geom.Point(ol.proj.fromLonLat([longitude,latitude])),name:`<b>Site code: </b>${siteCode}\n<br><b>Latitude: </b>${latitude}\n<br><b>Longitude: </b>${longitude}`});point.setStyle(new ol.style.Style({image:new ol.style.Icon({anchor:[0.5,1],anchorXUnits:"fraction",anchorYUnits:"fraction",src:markerPath})})),vectorSource.addFeature(point)}
</script>
{% endblock %}