{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'networks' %}">Networks</a></li>
<li class="breadcrumb-item"><a href="{% url 'network_details' station.fdsn_network.code %}">{{ station.fdsn_network.code }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'station_details' station.fdsn_network.code station.code %}">{{ station.code }}</a></li>
<li class="breadcrumb-item active">Add photo</li>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% include 'includes/form.html' %}
  <button type="submit" class="btn btn-success">Upload</button>
  <a href="{% url 'station_gallery' station.fdsn_network.code station.code %}" class="btn btn-outline-secondary" role="button">Abort</a>
</form>
{% endblock %}