body {
    background-image: url(../img/patterns/geometry2x.png);
  }
  
  .logo {
    font-family: 'Bangers';
  }
  
  .logo a {
    color: black;
  }
  
  .logo a:hover,
  .logo a:active {
    text-decoration: none;
  }  